<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/developer.ico">
  <link href="./static/assets/developer.ico" rel="icon">
  
  <title>Ivana's Web</title>  

<link href="./static/main.3da94fde.css" rel="stylesheet"></head>

<body>

 <!-- Add your content of header -->

<header>
  <nav class="navbar navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        
      <nav class="navbar-fullscreen" id="navbar-middle">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <ul class="navbar-fullscreen-links">
          <li><a href="./index.html" title="">Home</a></li>
          <li><a href="./project.html" title="">Project</a></li>
          <li><a href="./about.html" title="">About me</a></li>
        </ul>

        <div class="footer-container">
           
          <p><small>© Untitled | Website created with <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></small></p>
          <p class="footer-share-icons">
              <a href="https://www.instagram.com/ivis_carol/" class="fa-icon" title="">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
              <a href="https://www.linkedin.com/in/ivana-carolina-606684191/" class="fa-icon" title="">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
              <a href="https://github.com/IvanaCarolina" class="fa-icon" title="">
                  <i class="fa fa-github" aria-hidden="true"></i>
              </a>
              </a>
          </p>
                       
        </div>


      </nav> 
    
    </div>
  </nav>
</header>

  
<div class="hero-full-container background-image-container white-text-container" style="background-image:url('./static/assets/images/img-08.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="hero-full-wrapper">
          <div class="text-content  text-center">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center section-container-spacer">
          <h2 class="with-project-number"><span class="project-number">01</span>Night Photography</h2>
        </div>
        <div class="row section-container-spacer">
          <div class="col-md-4">
              <div class="section-container-spacer">
                <h3>Photographic Project</h3>
                <p>Menphis June, 2016</p>
              </div>

              <h4>Credits & Crew</h4>
              
              <ul class="list-unstyled">
                <li>Stanford</li> 
                <li>Pablo Malice</li>
                <li>Patricia Stano</li>
              </ul>
              

              <p>Cityzen circus Association</p>
              <p>Menphis City Hall</p>
          </div>
          <div class="col-md-8">
            <h3></h3>
            <p>
            </p>
          </div>
        </div>


        <img src="./static/assets/images/img-03.jpg" alt="" class="img-responsive">
        <p>Menphis city center</p>

        <blockquote class="text-center large-spacing">
            <p></p>
            <small class="pull-right"></small>
        </blockquote>
        
        <div class="row">
            <div class="col-md-6">
            <img src="./static/assets/images/img-02.jpg" class="img-responsive" alt="">
            <p></p>
            </div>
            <div class="col-md-6">
            <img src="./static/assets/images/img-01.jpg" class="img-responsive" alt="">
            <p></p>
            </div>
        </div>

        <img src="./static/assets/images/img-04.jpg" class="img-responsive" alt="">
        <p></p>

      </div>
    </div>
  </div>
</div>

<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <ul class="navbar-nav nav">
          <li>
            <a href="" title="" class="project-nav left"><span class="project-number">01</span>Previous</a>
          </li>
        </ul>
        <p class="h5 navbar-text"><i class="fa fa-chevron-down arrow-down" aria-hidden="true"></i></p>

        <ul class="navbar-nav nav navbar-right">
          <li>
            <a href="" title="" class="project-nav right"><span class="project-number">03</span>Next </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>





<script>
    document.addEventListener("DOMContentLoaded", function (event) {
      navbarToggleSidebar();
      closeMenuBeforeGoingToPage();
      navActivePage();
    });
</script>
 <script type="text/javascript" src="./static/main.4c6e144e.js"></script></body>

</html>